    /*.btn-special-color {
    background-color: pink;
}*/
    
    body {
        background: url(fundo.jpg) no-repeat center fixed transparent;
        width: 100%;
    }
    
    .container {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    
    .form-control {
        border: none;
        margin-top: 5px;
    }
    
    .logo {
        display: flex;
        align-items: center;
        border-radius: 50%;
        width: 40%;
        margin: auto;
        padding: 20px;
    }
    
    .form-group {
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.418);
        padding: 25px 40px;
    }
    
    .title-login,
    .submit,
    .create-btn {
        font-family: 'Roboto Slab', serif;
        font-size: 18px;
    }
    
    .nav {
        background: url(fundo.jpg);
        margin-top: 20px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.418);
    }
    
    .title-signup {
        display: inline-flex;
        margin-left: 40px;
        padding: 20px;
    }
    
    .navbar-right {
        margin-right: 20px;
        padding: 20px;
    }
    
    .list-group-item {
        word-wrap: break-word;
        margin: 2% 5% 0% 5%;
    }
    
    .btn {
        margin-left: 1%;
        margin-top: 2%;
    }
    
    .edit {
        margin-left: 5%;
    }
    
    .img-responsive {
        display: block;
        width: 100%;
    }
    
    .like {
        outline: none;
        border: none;
        width: 5%;
        height: 5%;
    }
    
    @media screen and (min-width:1200px) {
        #img-timeline {
            display: none;
        }
    }
    
    @media screen and (max-width:1200px) {
        #text-timeline {
            display: none;
        }
        .like {
            border: none;
            width: 15%;
            height: 15%;
        }
    }