
/*.btn-special-color {
    background-color: pink;
}*/

body {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 140px;
    border: 1px groove gray;
}

.form-control {
    border: none;
    margin-top: 20px;
    
}
