/*.btn-special-color {
    background-color: pink;
}*/

body {
    background: url(fundo.jpg) no-repeat center fixed transparent;
    width: 100%;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form-control {
    border: none;
    margin-top: 10px;
}

.logo {
    display: flex;
    align-items: center;
    border-radius: 50%;
    width: 40%;
    margin: auto;
    padding: 20px;
}

.form-group {
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.418);
    padding: 25px 40px;
}

.title-login,
.submit,
.create-btn {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
}

.window {
    display: none;
    width: 300px;
    height: 300px;
    position: absolute;
    left: 0;
    top: 0;
    background: #FFF;
    z-index: 9900;
    padding: 10px;
    border-radius: 10px;
}

#mascara {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9000;
    background-color: #000;
}

.fechar {
    display: block;
    text-align: right;
}